.Header h2 {
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
} 
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .Header h2 {
      font-size: 1.5rem; 
      margin: 0.5rem 0;
    }
  }
  
  @media (max-width: 480px) {
    .Header h2 {
      font-size: 1.2rem; 
      margin: 0.5rem 0; 
    }
  }
  